<html>
    <head>
        <meta charset="utf-8">
        <title>Demo chat room</title>
        <script src="jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="client.js"></script>
        <link rel="stylesheet" type="text/css" href="layout.css">
    </head>

    <body>
        <input type="text" id="txtRoom" />
        <input type="button" id="btnCreateRoom" value="Create Room">
        <div id="left">
            <h4>Room list: </h4>
            <div id="roomList"></div>
        </div>
        <h4 style="float: right;" id="currentRoom">...</h4>
        <div id="right">
            <input type="text" id="txtMessage">
            <input type="button" id="btnChat" value="Chat">
        </div>
    </body>
</html>